/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Le doy estilo a mis H1*/
.title-home {
  font-family: 'Oswald',sans-serif;
  font-weight: 500;
  font-size: 80px;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  color: whitesmoke; }

.title-blog {
  font-family: 'Oswald',sans-serif;
  font-weight: 500;
  font-size: 80px;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  color: black; }

.title-portfolio {
  font-family: 'Oswald',sans-serif;
  font-weight: 500;
  font-size: 80px;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-size: 60px; }

.title-shop {
  font-family: 'Oswald',sans-serif;
  font-weight: 500;
  font-size: 80px;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  color: black; }

.title-contact {
  font-family: 'Oswald',sans-serif;
  font-weight: 500;
  font-size: 80px;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  color: black; }

/* Modifico el navbar de boostrap */
nav {
  position: sticky;
  top: 0;
  background-color: #234066; }
  nav div a img {
    position: relative;
    width: 150px;
    margin-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    grid-area: logo; }
  nav div ul {
    align-items: flex-end; }

.backgroundcolor-home {
  background-color: #f0c44a; }

.backgroundcolor-blog {
  background-color: #f0c44a; }

.backgroundcolor-portfolio {
  background-color: #f0c44a; }

.backgroundcolor-shop {
  background-color: #f0c44a; }

.backgroundcolor-contact {
  background-color: #f0c44a; }

/*Aca arranco mi HOME*/
.home-page-img {
  width: 100%;
  height: 350px;
  background-image: url(../public/fotoprincipal.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .home-page-img div div {
    display: none; }

.home-text {
  padding-top: 20px;
  padding-bottom: 20px; }
  .home-text p {
    font-family: 'Work Sans',sans-serif;
    font-weight: 100;
    font-size: 1rem;
    text-align: center; }

.table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #5b84ba; }

.home-img-oculta-mobile {
  display: none; }

.separar-containers div {
  flex-direction: column;
  align-items: center; }

/*Aca arrango mi blog*/
.img-blog {
  border: 1px solid black;
  border-radius: 30px;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 10px;
  background-color: #cc2d42;
  width: 300px;
  height: 150px;
  margin-bottom: 5px; }
  .img-blog img {
    width: 100px;
    border-radius: 5px;
    padding-right: 0; }

.container-cards-blog {
  justify-content: center; }

.texto-blog {
  text-align: start;
  margin-left: 5px; }

.contenedor-blog {
  font-family: 'Open-Sans', sans-serif;
  font-weight: 300;
  padding-bottom: 20px; }
  .contenedor-blog div {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
    .contenedor-blog div img {
      width: 300px;
      border-radius: 40px; }

.img-primera-blog-detallado {
  margin-top: 30px; }

/*Aca arranco mi portfolio*/
.porfolio-container {
  padding-bottom: 32px; }

.container-img {
  flex-direction: column; }
  .container-img div p {
    text-align: justify;
    word-spacing: -2px; }

/*Aca arranco mi footer*/
footer {
  background-color: #234066;
  color: whitesmoke;
  padding-top: 10px; }
  footer div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center; }
    footer div div a img {
      margin-top: 1rem;
      width: 250px; }
    footer div div h3 {
      border-bottom: solid 1px white; }
    footer div div ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 30px;
      list-style: none;
      margin-top: 10px;
      padding-left: 0px; }
      footer div div ul li {
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center; }
        footer div div ul li a {
          color: whitesmoke;
          text-decoration: none; }

.columna-contact ul li {
  font-size: 1rem; }

.bar-footer {
  background-color: black;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%; }
