/*Aca arranco mi footer*/
footer
{
    background-color: #234066;
    color: whitesmoke;
    padding-top: 10px;
    //    Pongo en columna el footer y alineo los elementos para mobile
            div
            {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
                div
                {
                    a
                    {
                        // Le doy tamano a mi imagen para mobile
                        img
                        {
                            margin-top: 1rem;
                            margin-bottom: 2rem;
                            width: 250px;  
                        }
                    }
                }
                div
                {
                    h3
                    {
                        border-bottom: solid 1px white;
                    }
                    // Pongo en columna mi lista para mobile y acomodo los textos
                    ul
                    {
                        display: flex;
                        flex-direction: column;
                        justify-content: center; 
                        font-size: 30px;
                        list-style: none;
                        margin-top: 10px;
                        padding-left: 0px;
            
                        li
                        {
                            margin-bottom: 10px;
                            margin-left: 10px;
                            margin-right: 10px;
                            text-align: center;
                            a
                            {
                                color: whitesmoke;
                                text-decoration: none;
                                   
                            }
                            
                        }
                    }
               
            }
        }

        
       
        


}
// Cambio fontsize de datos de contacto
.columna-contact
{
    ul
    {
        li
        {
            
                font-size: 1rem;
            
        }
       
       
    }
}


// Barra de footer con copyright

.bar-footer
{
        background-color: black;
        text-align: center;  
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
}

