// Fondo para todos los main

@each $fondo in $lista-titulos {
    .backgroundcolor-#{$fondo} 
    {
       background-color: #f0c44a;
    }   
}


/*Aca arranco mi HOME*/

// Le doy estilo a todo lo que esta dentro de mi imagen de fondo principal

   
.home-page-img
{
    width: 100%;
    height: 350px;
    background-image: url(../public/fotoprincipal.jpg);         
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat; 
    
    div{
        div{
            display: none;
        }
    }
}


.home-text
{
    padding-top: 20px;
    padding-bottom: 20px;
    p
   {
        font-family: 'Work Sans',sans-serif;
        font-weight:  100;
        font-size: 1rem;
        text-align: center;
   }
}


//  Le doy estilo a la tabla

.table
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #5b84ba;
}

.home-img-oculta-mobile
{
    display: none;
}

.separar-containers
{
    div
    {
        flex-direction: column;
        align-items: center;
    }
}

/*Aca arrango mi blog*/

  .img-blog
  {
      
// Creo las cards de comentarios del blog
    border: 1px solid black;
    border-radius: 30px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 10px;
    background-color: #cc2d42;
    width: 300px;
    height: 150px;
    margin-bottom: 5px;
    // Acomodo imagen dentro del blog
      img
      {
        width: 100px;
        border-radius: 5px;
        padding-right: 0;
      }
      
  }

  .container-cards-blog
  {
      justify-content: center;
  }
    .texto-blog 
    {
       text-align: start;
       margin-left: 5px;
    }

// Creo conenido de los blog y ajustando imagenes a los tamaños
.contenedor-blog
{
    font-family: 'Open-Sans', sans-serif;
    font-weight: 300;
    font-size: 1 rem;
    padding-bottom: 20px;
    div
    {
        width: 300px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        img
        {
            width: 300px;
            border-radius: 40px;
        }
        
    }
    
}

.img-primera-blog-detallado
{
    margin-top: 10px;
}

