@media screen and (min-width: 480px)
{
    /* BLOG */
    /* Acomodo cards de comentarios */
    .container-cards-blog
    {
        align-items: flex-start;
    }
    /* PORTFOLIO */
/* Acomodo heigth de imagenes a responsive */
    .img-principal-portfolio 
        {
            img
            {
                height: auto;
            }
        } 

    /* SHOP */
/* Acomodo cards de productos */
    .container-product
    {
        justify-content: flex-start;
        margin-left: 80px;
    }
}


@media  screen and (min-width:600px)
{
    
    /* Acomodo menu y logo a 600px */
    .logo
    {
        position: relative;
        width: 200px;
        margin-left: 40px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .container
    {
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        align-items: center;
        height: auto;  
    }

   
  /* divido en dos el contenido de los dos parrafos inferiores */
  .column-text-image
  {
      height: 250px;
      display: inline;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
  }
  .column-der-img
  {
      margin-top: 30px;
  }
  .home-img-oculta-mobile
    {
       display: block;

       img
       {
        border-radius: 30px;
        width: 100%;
       }
    }
    
    .row-mobile
    {
        flex-direction: row;
        align-content: center;
    }


  
  /* PORTFOLIO */
 
  .column-img-portfolio
  {
      align-items: center;
      
  } 
/* Le doy ancho a las imagenes de abajo las que estan juntas para que me ocupen mismo espacio a la de arriba*/
  .img-abajo-t
  {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
       width: 270px;
  }

  

/* SHOP */
/* Acomodo cards de productos */
    .container-product
    {
        justify-content: flex-start;
        margin-left: 55px;
    }
    
  /* CONTACTO */
   /*Acomodo forumlario de consultas  */
   .form-control
    {
        margin-top: 10px;
       
    }

    .form-control-textarea
        {
            resize: none;
            padding-bottom: 30px;
            
        }

}

@media screen and (min-width:700px) 
{

    /*Acomodo imagen para tablet */
      .logo
      {
          position: relative;
          width: 200px;
          margin-left: 40px;
          padding-top: 5px;
          padding-bottom: 5px;
      }
      
      /*TITULO IMAGEN CENTRADA  */
      .text-center-img
      {
          font-family: 'Oswald', sans-serif;
          font-weight: 500;
          padding-top: 0px;
          text-align: center;
          font-size: 60px;
          text-transform: uppercase;
      }
    /* divido en dos el contenido de los dos parrafos inferiores */
    .column-text-image
    {
        height: 250px;
        display: inline;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    .column-der-img
    {
        margin-top: 30px;
    }
    .row-home-text
    {
        flex-direction: row;
    }
    /* BLOG */
    /* Acomodo containers en columnas y agrando un poco las imagenes */
    
    .img-blog-detallado 
    
    {
        img
        {
            width: 350px;
        }
        align-content: center;
    }

    .container-img
    {
        div
        {
            p
            {
                width: 350px;
            }
        }
    }
    .container-portfolio
    {
        flex-direction: row;
    }
    /* Contacto */
    .container-contact
    {
        width: 100%;
    }
    .contact-message
    {
        width: 100%;
    }
    /* FOOTER  */
    .row-footer
    {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    /* a cada columna le doy el 25% para armar 4 columnas del total del width */
    .columna-footer
    {
        width: 25%;
        h3
        {
         border-bottom: none;  
        }
         
    }
   
    .logo-footer
    {
       
            margin-top: 10rem;
            margin-left: 20px;
            width: 180px;    
       
    }
    footer 
    {
        ul
        {
            li
            {
                margin-bottom: 10px;
            }
        }
       
        
    }

    footer
    {
        /* background-color: #010a1a; */
        color: whitesmoke;
        padding-top: 10px;  
    }

    /* Acomodo de iconos de redes centrados */
    .redes
    {
        display: flex;
        flex-direction: row;
        justify-content: center; 
        font-size: 30px;
        margin-top: 5rem;
        ul
        {
        li
            {
                margin-left: 10px;
                margin-right: 10px;
                
                a
                {
                    color: whitesmoke;
                }
            }
        }
        
    }

    
    .contact-column
    {
        margin-top: 2rem;
    }
    /* Navegacion del footer con animacion */
    footer 
    {
        h3
        {
            text-align: center; 
        }
        ul
        {
            list-style: none;
            margin-top: 10px;
            text-align: center; 
        }
       
    }
  

    .nav-footer 
    ul
    {
        li
        {
            a
            {
                text-decoration: none;
                color: whitesmoke;
            }
        }
    }
   

    .nav-footer li a:hover
    ul
    {
        li
        {
            a:hover
            {
                text-decoration: underline;
            }
        }
    }
   

    /* Barra footer con copy */
    .bar-footer
    {
        
        background-color: black;
        text-align: center;  
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
@media screen and (min-width: 992px)
{
    .container-fluid
    {
        div
        {
            justify-content: flex-end;
        }
        
    }
}

@media screen and (min-width:1024px) 
{

    /* NUEVO MENU PARA PAGINAS SIN MOBILE */
      .logo
      {
          position: relative;
          width: 230px;
          top:0;
          margin-left: 40px;
          padding-top: 5px;
          padding-bottom: 5px;
      }
    /* divido en dos el contenido de los dos parrafos inferiores */
    .home-page-img
    {
        div{
            div{
                height: 250px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-evenly;
            }
        }
               
        
        
    }
   
    .column-text-image
    {
        section
        {
            width: 550px;
            margin-top: 50px;
            margin-left: 60px;
            margin-right: 60px;
            color: whitesmoke;
            font-size: 20px;
           
            
        }
       
    }
    .row-home-text
    {
        flex-direction: column;
    }
    .table
    {
        width: 70%;
        margin-top: 50px;
    }
    .row
    {
        align-items: flex-start;
    }
    .container-img-home
    {
       
       margin-top: 20px;
    }

    .separar-containers
    {
    margin-top: 50px;

    div
    {
        flex-direction: row;
        align-items: center;
    }
    }
    
    /* BLOG */


    .container-blog
    {
        flex-direction: row;
        justify-content: center;
        
    }
    .img-blog 
    {
        height: 170px;
        width: 310px;
        img
        {
        width: 100%;
        border-radius: 5px;
        padding-right: 0;
        }
        
    }
   
    .bordes-cards-blog
    {
        flex-direction: row;
        border-radius: 30px;
        height: 170px;
        width: 300px;
        margin-right: 5px;
        margin-left: 5px;
        padding-top: 10px;
       
    }
    
    .container-cards-blog
    {
        margin-bottom: 50px;
    }
    
   
    /* Texto entero del blog */
    .img-blog-detallado 
    {
        width: 500px;
        float: none;
        margin-right: 10px;

        img
        {
            width: 500px;
        }
        
    }
    /* Acomodo imagen con el texto */
    
    .texto-blog-detallado
    {
        p
        {
            text-align: justify;
            margin-left: 10px;
            margin-right: 10px;
        }
       
    }
   
   .contenedor-blog
   {
       display: flex;
       flex-direction: column;
       div
       {
           width: 100%;
       }
   }
    /* PORTFOLIO */
    .container-portfolio
    {
        align-items: center;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 600;
        font-size: 1rem;
    }

    .container-img
    {
       flex-direction: row;
       align-items: center;
       margin-bottom: 20px;
    }
    /* SHOP */

    /* Modifico grid para poner filtros de busqueda de costado y el shop por la derecha */
    .product-wrapper
        {
            grid-template:
        "dropdown container-product" 
        ;
        justify-items: start;
        justify-content: start;
        }
    
      /* Creo grid de productos para 2 columnas */
    .container-product
        {
            display: grid;
            grid-template: 
            "container-product container-product"
            ;     
        }
    
    .card-container
        {
            grid-area: container-product;
            display: flex;
            flex-direction: column;
        }
    .dropdown
    {
        margin-left: 15px;
    }
    .card-product
        {
            width: 350px;
          
        }
    .description-product
        {
           margin-left: 5px;
        }
        .img-product 
    {
        img
        {
            width: 100%;
            margin-bottom: 5px;
            
        }
        
    }
        /* CONTACTO */

        .container-map-form
        {
            height: 400px;
            .container-contact
            {
                width: 50%;
                position: relative;
                bottom: 310px;
                left: 20%;
                opacity: 95%;
                padding-bottom: 10px;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        /* pongo formulario dentro del mapa de google map */
       
        .row-contact 
    {
        form
        {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 100%;
        text-align: center; 
        }  
           
    }
  
    .form-control
        {
            margin-top: 10px;
            width: 90%;
        }

    .form-control-textarea
        {
            resize: none;
            padding-bottom: 30px;
            padding-right:40%;
        }

    .btn-contact
        {
            margin-top: 1rem;
            text-align: center;
        }

    .boton-contacto
        {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            border: none;
            border-radius: 20px;
            background-color: #de093e;
            color: whitesmoke;
        }

     .bannerpagecontact-1024
     {
       
        display: block;
        width: 650px;
        padding-bottom: 20px;
     } 
     .bannerpagecontact-1024 
     {
         p
        {
        font-family: 'Vazirmatn', sans-serif;
        font-size: 80px;
        animation-name: baner-contact;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-duration: 10s;
        animation-delay: 1s;
         }
        
        
     }
     /* FOOTER */
    
     .row-footer
     {
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-between;
     }
     /* a cada columna le doy el 25% para armar 4 columnas del total del width */
     .columna-footer
     {
         width: 25%;
         h3
         {
            border-bottom: none; 
         }    
     }
    
 
     .logo-footer
     {
         margin-top: 3rem;
         margin-left: 1rem;
         width: 300px; 
     }
     footer 
     {
        color: whitesmoke;
        padding-top: 10px;
        
        div
        {
            align-items: unset;
        }
        h3
        {
            text-align: center; 
        }
         ul
         {
            list-style: none;
            margin-top: 10px;
            text-align: center; 
             li
             {
                margin-bottom: 10px;
             }
         }
         
     }
 
     
 
     /* Acomodo de iconos de redes centrados */
     .redes
     {
         display: flex;
         flex-direction: row;
         justify-content: center; 
         font-size: 30px;
         margin-top: 3rem;
         
     }
 
     .redes 
     {
         ul
         {
             li
             {
                margin-left: 10px;
                margin-right: 10px;
                
                a
                {
                    color: whitesmoke;
                }
             }
         }
        
     }
 
     .contact-column
     {
         margin-top: 2rem;
     }
     /* Navegacion del footer con animacion */
 
  
     .nav-footer 
     {
         ul
         {
             li
             {
                 a
                 {
                    text-decoration: none;
                    color: whitesmoke;
                 }
                 a:hover
                 {
                    text-decoration: underline;
                 }
             }
         }
         
     }
 
}

@media screen and (min-width:1200px)
{   
    .img-blog-detallado
    {
        
        margin-right: auto;
        margin-left: auto;
    }
    .texto-blog-detallado
    {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* HOVERS */
/* Animaciones a menues desktop*/
.navigation-page
{
    a:hover
    {
        border-bottom: solid 1px whitesmoke;
    }
    
}

@media screen  and (min-width: 1400px){
    
    // Acomodo a columnas en 1440 para el container blog asi no se me junta todo
    .container-blog
    {
        flex-direction: column;
    }
}

/* KEYFRAMES */

/* Transicion de baner contacto */
@keyframes baner-contact {
    0%{transform: translateX(0%);}
    25%{transform: translateX(25%);}
    50%{transform: translateX(50%);}
     
}
