
    /* Modifico el navbar de boostrap */
  
    // Corro a la derecha la lista mobile cuando la desplego
    nav
    {
        position:sticky;
         top: 0;
         background-color: #234066;
        div 
        {
            // Logo de la pagina
            a
            {
                img
                {
                    position: relative;
                    // width: 150px;
                    margin-left: 40px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    grid-area: logo;
                }
            }
            ul
            {
                align-items: flex-end;
            }
        }
    }
    
    
   
    

    // Esto tiene que ir en media query de navbar
    //  #navbarNav
    // {
    //     justify-content: flex-end;
    // }