// Realizo un each para que todos mis h1 tengan ese estilo y despues lo modifico a mi gusto los colores
/*Le doy estilo a mis H1*/
@each $titulo in $lista-titulos {
    .title-#{$titulo} 
    {
        font-family: 'Oswald',sans-serif;
        font-weight: 500;
        font-size: 45px;
        padding-top: 10px;
        text-align: center;
        text-transform: uppercase;
        // Le doy color solo a mi home ya que mi h1 esta dentro de una imagen blanco y negro
         @if ('.title-#{$titulo}'  == '.title-home')
            {
                color: whitesmoke;
            }
         @else
            {
                color: black;
            }

         @if (('.title-#{$titulo}'  == '.title-portfolio') or ('.title-#{$titulo}'  == '.title-shop' ))
            {
                font-size: 50px;
            }      
    }   
   
}

